div {
  display: flex;
  flex-direction: column;
  flex: 0;
}

img {
  max-width: 250px;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin-top: 0.4rem;
}

.role {
  font-size: 1.25rem;
  font-weight: 100;
  /* letter-spacing: 0.1rem; */
}

.project {
  font-size: 0.8rem;
  font-weight: 500;
}
