ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  font-weight: 400;
  justify-content: space-around;
  flex-wrap: wrap;
  letter-spacing: 0.1rem;
}

nav ul li {
  padding: 0.8rem 2rem;
}

nav ul li:hover {
  background-color: var(--secondary-color);
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}
